@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: "Montserrat Medium";
    margin: 0;
    padding: 0;
    background-color: hsl(285, 9%, 18%);
}

.header-container {
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: solid white 1px;
}

.site-header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 45px;
    
}


.site-title {
    color: #f8f6f6;
    margin: 0px;
    
    
    
}
#dropdown .projects{
    color: #454242;
}
.dropdown-nav-link{
    color: #ffffff;
}
.main-navigation .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navigation .nav-item {
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    color: #ccc;
    text-decoration: underline;
    
}

.menu-button {
    display: none;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-color: #f0f0f0;
    border-radius: 10px;
    font-size: 16px;

}

.menu-button:hover {
    background-color: #3b3a3a;
}
.projects{
    color: rgb(81, 82, 85);
    text-decoration: underline;
   
    
}


.dropdown {
    display: none;
    position: absolute;
    background-color: #000;
    top: 100%;
    left: 0;
    
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    height: 280px;
    max-height: 250px!important;
    transition: max-height 2s ease-out; /* Add this line */
    border-bottom: solid white 1px;
}

.dropdown-nav-list {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-nav-item {
    text-align: center;
    padding: 8px;
}

.dropdown-nav-link {
    text-decoration: none;
    color: #fff;
}

.dropdown-nav-link:hover {
    color: #ccc;
    text-decoration: underline;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);

    
}
.projects-section {
    padding: 2rem; /* Adjust this value to increase or decrease the space from the screen edges */
    position: relative;
    top: 100px;
    background-color:#252027 ;
  background-size: cover;
  box-shadow:10px 10px 10px 10px #000;

    
    
}
#return-to-top {
  transition: 0.5s ease-in-out;
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--main);
  width: 40px;
    height: 40px;
  display: block;
  text-decoration: none;
  border-radius: 50%;
  transform: rotate(180deg); /* Add this line to rotate the element */
}


html {
  scroll-behavior: smooth;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* increase minmax value */
    gap: 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    transition: 1s all ease-in-out, border-left 0.5s ease-in-out, scale 0.5s ease-in-out;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    height: 200px;
    margin: 10px;
    position: relative; /* Add this line */
    transition: 1s all ease-in-out, border-left 0.5s ease-in-out, scale 0.5s ease-in-out;
}
.grid-item:hover .project-description {
    color: #fff;
}
.grid-item .project-description{
  color: #000000!important;
}

.grid-item img {
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* 4:3 aspect ratio */
    object-fit: cover;
    border-radius: 4px;
}

@media (max-width: 1150px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 1150px) {
    .main-navigation {
        display: none;
    }
    .grid-container {
        gap: 3rem;
        
      }

    .menu-button {
        display: block;
        border-radius: 10px;
    }
    .grid-item{
        margin:0px;
        transition: 1s all ease-in-out, border-left 0.5s ease-in-out, scale 0.5s ease-in-out;
    }
}
.project-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.15);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute; /* Add this line */
    
}
.project-description p{
  color: #ae88b1!important;
  font-size: 25px;
  background-color: #281e2a;
  border-radius: 10px;
  opacity: 0.9;
}
.grid-item:hover .project-description p {
  background-color: #54394c;

  color: #fff!important;
  
}


.grid-item:hover {
    transform: scale(1.05);
    
    transition: all 0.3s ease-in-out;
}
.hover-effect {
  /* Add the hover effect styles here */
  /* For example, if you want to change the background color on hover: */
  transform: scale(1.05);
    box-shadow: 0px 0px 5px 3px rgba(42, 40, 40, 0.3);
    transition: all 0.3s ease-in-out;
}


.grid-item:hover .project-image:before {
    opacity: 1;
}
.project-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative; /* Add this line */
}
@media (min-width: 1150px) {
    .dropdown {
      display: none;
    }
    .grid-item{
        height: 300px;
        
    }
  }
 

  #bnz-banking {
    background-image: url('resources/bnz-logo-bnz-letter-bnz-letter-logo-design-initials-bnz-logo-linked-with-circle-and-uppercase-monogram-logo-bnz-typography-for-technology-business-and-real-estate-brand-vector.webp');
    background-size: cover;
    background-position: center;

    
}
#discord-bot{
  background-image: url('resources/Discord-Black.webp');
    background-size: cover;
    background-position: center;

}
#chess-game{
  background-image: url('resources/business_chess_1200074974.webp');
    background-size:cover;
    background-position: center;
  
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 2rem;
    max-width: 1200px;
    margin:  auto;
    background-color: #231d24;
    box-shadow: 5px 5px 5px 5px #0d0d0d;
    transition: 1s all ease-in-out, border-left 0.5s ease-in-out, scale 0.5s ease-in-out;
    margin-bottom: 30px;
    border-radius: 10px;
  
    
  }
  .about-section-section{
    background-color: #302a32;
    margin-left: 15px;
    margin-right: 15px;
   
  }
  
  .about-text {
    flex: 1;
    padding-right: 2rem;
    color: #9d929a !important;
  }
  
  .about-section-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #f5f5f5 !important;
    font-family: "Montserrat Medium";
  }
  
  .about-section-text p {
    font-size: 1.4rem!important;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: #ae88b1 !important; 
    font-family: "Montserrat Medium";
  }
  .about-section-text{
    color: #9e929c!important;
  }
  
  .about-image {
    flex: 1;
    max-width: 100%;
  }
  
  @media (min-width: 768px) {
    .about-section {
      flex-direction: row;
      align-items: flex-start;
    }
    
    .about-text {
      flex: 1;
      padding-right: 4rem;
    }
  
    .about-image {
      flex: 1;
      max-width: 50%;
    }
  }
  .about-section{
    position: relative;
    top: 100px;
  }
  .bnz-banking h1 {
    color: #ffffff!important;
  }
  
  .bnz-banking p {
    color: #9e929c!important;
  }
  
  .bnz-banking {
    position: relative;
    top: 100px;
  }
  
  .bnz-banking {
    background-color: #484747;
    color: white;
    padding: 50px 0;
  }
  
  .bnz-banking-container {
    display: flex;
    opacity: 1;
    
    
    
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
  }
  
  .bnz-banking-text {
    
    flex-basis: 50%;
    margin-right: 20px;
    margin-left: 30px;
    padding: 20px;
    background-color: #231d24;
    opacity: 1;
    box-shadow: 5px 5px 5px 5px #0d0d0d;
    border-radius: 10px;
    

  }
  
  .bnz-banking-image {
    
    flex-basis: 50%;
    margin-top: 20px;
    margin-left: 70px;
    height: 100%;
    
    
    
  }
  .move-right {
    transform: translateX(-20%);
    opacity: 1;
  }
  
  .bnz-banking-image img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 10px;
  }
  
  .bnz-banking-text a,
  .bnz-banking-text a {
    background-color: #9f899f; /* white background for the button and links */
    color: #434040; /* dark grey text for the button and links */
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    border-radius: 10px;
  
  }
 
  
  .bnz-banking-text a:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
  .bnz-banking-text button{
    color: #000;
  }
  .bnz-banking-text a:hover,
  .bnz-banking-text button:hover {
    background-color: #54394c; /* light grey background on hover */
    color: #fff; /* white text on hover */
    
  }
  
  .bnz-banking-text p {
    line-height: 1.5; /* add some line-height to improve readability */
    padding: 20px;
    color: #bbb2ba!important;
  }
  
  .bnz-banking-text h1 {
    margin-bottom: 20px; /* add some space below the heading */
    color: #ffffff!important;
  }
  .bnz-banking-text li{
    color: #bbb2ba!important;
  }
  
  @media only screen and (max-width: 768px) {
    .bnz-banking-container {
      flex-direction: column;
    }
  
    .bnz-banking-text,
    .bnz-banking-image {
      flex-basis: 100%;
      margin: 20px;
      border-radius: 20px;
    }
  
    .bnz-banking-image {
      margin-top: 0;
      border-radius: 20px;
    }
  }
 
  .second{
    background-color:#252027 ;
    background-size:cover;
    background-position: center;
    box-shadow:10px 10px 10px 10px #000;
  }
  .second h1{
    color: rgb(255, 255, 255);
  }
  .second p{
    color:rgb(255, 255, 255);
  }
  .second li{
    color:rgb(255, 255, 255);
  }
  
  a{
    margin-top: 10px;
  }

  .last{
    background-color: #302a32;
    box-shadow:10px 10px 10px 10px #000;
   
  }
  .last li{
    color:rgb(255, 255, 255);
  }
  .last p{
    color:rgb(255, 255, 255);
  }
  .last h1{
    color: rgb(255, 255, 255);
  }
  
  .project-description p{
    color: rgb(253, 253, 253);
  }
  .first{
    background-color: #302a32;
    box-shadow:10px 10px 10px 10px #000;
  }

  .first h1{
    color: rgb(255, 255, 255);
  }
  .first p{
    color:rgb(255, 255, 255);
  }
  .first li{
    color:rgb(255, 255, 255);
  }
  .main-navigation a {
    float: left;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    left: 120px;
    z-index: 1;
    overflow: hidden;
    min-width: 40px;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 5px 5PX;
    border: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation,.dropdown-nav-item a:hover {
    background-color: #010000 !important;
}

span {
    position: relative;
    z-index: 1;
    line-height: 24px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}
a:hover span {
    color: #5a5a5a;
}
.btnBefore, .btnAfter {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #000;
    border-width: 0;
    border-radius: 0;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #fffefd;
    border-radius: 5px;
}
a .btnBefore {
    right: 0;
    bottom: 0;
}
a .btnAfter {
    left: 0;
    top: 0;
}
a:hover .btnBefore {
    border-width: 0 0 1px 1px;
}
a:hover .btnAfter {
    border-width: 1px 1px 0 0;
}

a:hover .btnAfter, a:hover .btnBefore {
height: 100%;
width: 100%;
transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
}
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
}



h1 {
    color: #806e7d;
  font-family: "Montserrat Medium";
  max-width: 40ch;
  padding: 15px;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.bnz-banking-text ul{
  padding-left: 50px;
  padding-bottom: 15px;
}



  
  