@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
*{
  font-family: "Kanit"!important;
}
body {
  
    margin: 0;
    padding: 0;
    background-color: hsl(285, 9%, 18%);
   
}

.header-container {
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: solid white 1px;
}

.site-header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 45px;
    
}


.site-title {
    color: #f8f6f6;
    margin: 0px;
    
    
    
}
#dropdown .about{
    color: #4f4c4c;
}
.dropdown-nav-link{
    color: #ffffff;
    text-decoration: none!important;
}
.main-navigation .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.main-navigation .nav-item {
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    color: #3e3c3c;
    text-decoration: underline;
    
}

.menu-button {
    display: none;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-color: #f0f0f0;
    border-radius: 10px;
    font-size: 16px;

}

.menu-button:hover {
    background-color: #444;
}
.about{
    color: rgb(98, 87, 87);
    
}


.dropdown {
    display: none;
    position: absolute;
    background-color: #000;
    top: 100%;
    left: 0;
    
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    height: 280px;
    max-height: 250px!important;
    transition: max-height 2s ease-out; /* Add this line */
    border-bottom: solid white 1px;
}

.dropdown-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-nav-item {
    text-align: center;
    padding: 8px;
}

.dropdown-nav-link:hover {
    color: #ccc;
    text-decoration: underline;
}
#return-to-top {
    transition: 0.5s ease-in-out;
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fffdfd;
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    border-radius: 50%;
    transform: rotate(180deg); /* Add this line to rotate the element */
    
  }
  html {
    scroll-behavior: smooth;
  }

.dropdown-nav-link:hover {
    color: #ccc;
    text-decoration: underline;
    transform: translateY(-3px);
  transition: transform 0.2s ease;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 1150px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 1150px) {
    .main-navigation {
        display: none;
    }
    .grid-container {
        gap: 3rem;
      }

    .menu-button {
        display: block;
        border-radius: 10px;
    }
    .grid-item{
        margin:0px
    }
}
@media (min-width: 1150px) {
    .dropdown {
      display: none;
    }
    .grid-item{
        height: 300px;
        
    }
  }
  a{
    margin-top: 10px;
  }
  .main-navigation a {
    float: left;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    left: 120px;
    z-index: 1;
    overflow: hidden;
    min-width: 40px;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 5px 5PX;
    border: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation,.dropdown-nav-item a:hover {
    background-color: #010000 !important;
}

span {
    position: relative;
    z-index: 1;
    line-height: 24px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}
a:hover span {
    color: #5a5a5a;
}
.btnBefore, .btnAfter {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #000;
    border-width: 0;
    border-radius: 0;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #fffefd;
    border-radius: 5px;
}
a .btnBefore {
    right: 0;
    bottom: 0;
}
a .btnAfter {
    left: 0;
    top: 0;
}
a:hover .btnBefore {
    border-width: 0 0 1px 1px;
}
a:hover .btnAfter {
    border-width: 1px 1px 0 0;
}

a:hover .btnAfter, a:hover .btnBefore {
height: 100%;
width: 100%;
transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 2rem;
    max-width: 1200px;
    margin:  auto;
    background-color: #231d24;
    box-shadow: 5px 5px 5px 5px #0d0d0d;
    transition: 1s all ease-in-out, border-left 0.5s ease-in-out, scale 0.5s ease-in-out;
    margin-bottom: 30px;
    border-radius: 10px;
  
    
  }
  .about-section-section{
    background-color: #302a32;
    margin-left: 15px;
    margin-right: 15px;
   
  }
  
  .about-text {
    flex: 1;
    padding-right: 2rem;
    color: #ffffff !important;
  }
  
  .about-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #eaeaea !important;
  }
  
  .about-text p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    color: #ffffff !important; 
  }
  .about-section-text{
    color: #ffffff !important;
  }
  
  .about-image {
    flex: 1;
    max-width: 100%;
  }
  
  @media (min-width: 768px) {
    .about-section {
      flex-direction: row;
      align-items: flex-start;
    }
    
    .about-text {
      flex: 1;
      padding-right: 4rem;
    }
  
    .about-image {
      flex: 1;
      max-width: 50%;
    }
  }
  .about-section{
    position: relative;
    top: 100px;
  }
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
}



h1 {
    color: #806e7d;

  max-width: 40ch;
  padding: 15px;
  transform: scale(0.94);
  font-size: 40px;
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {

  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.landing-text-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.landing-section {
    
    /* Change this color to match your desired background color for the landing section */
    height: 100vh; /* This ensures the landing-section takes up the full viewport height */
  }
  
 
  .information-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
    position: relative;
    min-height: 80vh;
    background-color: #252027;
    box-shadow: 10px 10px 10px 10px #000000;
  }
  
  .information-section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .information-section-container li{
    font-size: 20px;
  }
  
  .box {
    
    border-radius: 10px;
    margin: 30px;
    width: 70%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #736775;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
    box-shadow: 3px 3px 3px 3px #3e3c3c;
  }
  .box-visible {
    opacity: 0.8;
    transform: translateY(0);
  }
  .section-2{
    background-color: #1d181e;
  }

  .heading{
    padding: 10px;
    color: #ffffff;
   
 
  }
  .box li{
    margin-left: 25px;
  
    color: #fff;
  }
  /* @media (max-width: 450px) {
    .information-section{
        height: 120vh;
    }
    .box{
       
        margin:10px;
        position: relative;
        top: 100px
    }
  }
  @media (max-width: 1300px) {
    .information-section{
        height: 120vh;
    }
    
  }
  @media (max-width: 1024px) {
    .information-section{
        height: 140vh;
    }
    @media (max-width: 414px) {
        .information-section{
            height: 120vh;
        }
        .box{
           height: 250px;
            margin:10px;
            position: relative;
            top: 100px
        }
        .box li{
            size: 10px;
        }
      }
    
  }
  @media (max-width: 280px) {
    .information-section {
        height: 170vh;
    }
    .box{
        height:400px;
    }
}
/*media query between height 280px and 320px*/
/* @media (max-height: 781px) {
    .information-section {
        height: 200vh;
    }
    .box{
        height:300px;
    }
}
@media (max-height: 600px) {
    .information-section {
        height: 220vh;
    }
    .box{
        height:300px;
    }
} */ 
footer {
  background-color: #48404a;
  color: #F7FFF7;
  padding: 50px;
  
}



 
 







