body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(285, 9%, 18%);
}

.header-container {
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: solid white 1px;
}

.site-header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}


.site-title {
    color: #f8f6f6;
    margin: 0px;
    
    
    
}
#dropdown .about{
    color: #4f4c4c;
}
.dropdown-nav-link{
    color: #ffffff;
}
.main-navigation .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navigation .nav-item {
    margin-left: 1rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav-link:hover {
    color: #ccc;
    text-decoration: underline;
    
}

.menu-button {
    display: none;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-color: #f0f0f0;
    border-radius: 10px;
    font-size: 16px;

}

.menu-button:hover {
    background-color: #444;
}
.about{
    color: rgb(98, 87, 87);
    
}


.dropdown {
    display: none;
    position: absolute;

    top: 100%;
    left: 0;
    background-color: #000000;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    max-height: 200px;
    transition: max-height 2s ease-out; /* Add this line */
    border-bottom: solid white 1px;
}

.dropdown-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-nav-item {
    text-align: center;
    padding: 8px;
}

.dropdown-nav-link:hover {
    color: #ccc;
    text-decoration: underline;
}
#return-to-top {
    transition: 0.5s ease-in-out;
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--main);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 50%;
    transform: rotate(180deg); /* Add this line to rotate the element */
  }
  html {
    scroll-behavior: smooth;
  }

.dropdown-nav-link:hover {
    color: #ccc;
    text-decoration: underline;
}

.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 1150px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 1150px) {
    .main-navigation {
        display: none;
    }
    .grid-container {
        gap: 3rem;
      }

    .menu-button {
        display: block;
        border-radius: 10px;
    }
    .grid-item{
        margin:0px
    }
}
@media (min-width: 1150px) {
    .dropdown {
      display: none;
    }
    .grid-item{
        height: 300px;
        
    }
  }
  a{
    margin-top: 10px;
  }
  .main-navigation a {
    float: left;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    left: 120px;
    z-index: 1;
    overflow: hidden;
    min-width: 40px;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 5px 5PX;
    border: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation,.dropdown-nav-item a:hover {
    background-color: #010000 !important;
}

span {
    position: relative;
    z-index: 1;
    line-height: 24px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
}
a:hover span {
    color: #5a5a5a;
}
.btnBefore, .btnAfter {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #000;
    border-width: 0;
    border-radius: 0;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #fffefd;
    border-radius: 5px;
}
a .btnBefore {
    right: 0;
    bottom: 0;
}
a .btnAfter {
    left: 0;
    top: 0;
}
a:hover .btnBefore {
    border-width: 0 0 1px 1px;
}
a:hover .btnAfter {
    border-width: 1px 1px 0 0;
}

a:hover .btnAfter, a:hover .btnBefore {
height: 100%;
width: 100%;
transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-webkit-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-moz-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-o-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
-ms-transition: width 0.5s ease, height 0.5s ease 0.5s, border-top-right-radius 0.1s ease 0.4s, border-bottom-left-radius 0.1s ease 0.4s, border-bottom-right-radius 0.1s ease 0.9s, border-top-left-radius 0.1s ease 0.9s;
}